$font--main: 'Lato', sans-serif;
$font--call: 'Bungee Shade', cursive;

$clr--primary: #21222C;
$clr--secondary: #BD93F9;
$clr--highlight: #50FA7B;
$clr--white: #F8F8F2;
$clr--red: #FF6E6E;
$clr--opaque: #bebebe;

$gap: 32px;
$radius: 16px;