section.works {

    width: 100%;
    height: calc(100vh - 100px);

    padding-top: $gap * 4;

    background-color: $clr--primary;

    h1 {
        
        margin-bottom: $gap;

        font-size: 56px;
        font-weight: 700;
        color: $clr--white;

    }

    ul.projects {

        flex-wrap: wrap;
        justify-content: flex-start;
        gap: $gap;

        width: inherit;
        max-height: 550px;

        padding: $gap;

        background-color: $clr--primary;

        overflow-y: scroll;

        li.project {

            display: flex;
            align-items: flex-end;

            width: calc((100% / 3) - 32px);
            aspect-ratio: 16 / 9;

            padding: $gap;

            background-color: $clr--secondary;

            transition: all .5s ease;

            h2 {

                font-weight: 700;
                font-size: 32px;
                color: $clr--highlight;

            }

            &:hover {

                cursor: pointer;

                transform: scale(1.1);

            }

        }

    }

}